:root {
  --light-blue-color: #005dff;
  --dark-blue-color: #0054e5;
  --grey-color: #cccccc;
  --white-color: #ffffff;
  --dark-white-color: #e5e5e5;
  --black-color: #000000;

  --font-size: 20px;
  --padding: 10px;
  --border-radius: 10px;
  --border: 1px solid var(--grey-color);
  --item-height: 50px;
  --gap: 5px;
}

html {
  font-family: sans-serif;
  font-size: var(--font-size);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
  box-shadow: 0px 0px 30px var(--grey-color);
  border-radius: var(--border-radius);
  padding: 15px;
  margin: auto;
}

.container-title {
  width: 100%;
  text-align: center;
  font-weight: normal;
}

button {
  font-size: var(--font-size);
  width: 100%;
  height: var(--item-height);
  padding: var(--padding);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light-blue-color);
  color: var(--white-color);
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: var(--dark-blue-color);
  color: var(--dark-white-color);
}

.button-link {
  outline: none;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.data-sending-form,
.feedback-form {
  display: grid;
  grid-template-rows: 50px 150px 50px;
  gap: var(--gap);
}

.lost-things-form {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 150px;
  gap: var(--gap);
}

input[type='text'],
input[type='number'],
input[type='time'],
input[type='email'],
select,
textarea,
.attach-file-square-button {
  border-radius: var(--border-radius);
  border: var(--border);
  padding: var(--padding);
  font-size: var(--font-size);
}

.calc-width {
  width: calc(100% - 21.6px);
}

textarea {
  overflow: hidden;
  resize: none;
}

input[type='file'] {
  display: none;
}

.attach-file-square-button {
  display: flex;
  cursor: pointer;
  width: auto;
}

.img {
  height: auto;
  width: auto;
}

.white-img {
  fill: var(--white-color);
}

.data-sending-form-bottom-container,
.feedback-staff-feedback-bottom-container {
  display: flex;
  width: 100%;
  gap: var(--gap);
}

.useful-materials-item {
  display: flex;
  gap: var(--gap);
}

.link-copy-button {
  display: flex;
  width: var(--item-height);
}

.useful-materials-school-bell-schedule-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.useful-materials-school-bell-schedule-table {
  width: fit-content;
  background-color: var(--grey-color);
  border-radius: var(--border-radius);
}

.useful-materials-school-bell-schedule-th,
.useful-materials-school-bell-schedule-td {
  text-align: center;
  vertical-align: middle;
  padding: var(--padding);
  background-color: var(--white-color);
}

.border-top-left-radius {
  border-top-left-radius: var(--border-radius);
}

.border-top-right-radius {
  border-top-right-radius: var(--border-radius);
}

.border-bottom-left-radius {
  border-bottom-left-radius: var(--border-radius);
}

.border-bottom-right-radius {
  border-bottom-right-radius: var(--border-radius);
}

.coffee-delivery-form {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  gap: var(--gap);
}

.useful-materials-items {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

select {
  height: var(--item-height);
  cursor: pointer;
}

.coffee-delivery-form-checkbox-label {
  display: flex;
  align-items: center;
}

.switch-container {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  width: 100%;
}

.switch-container-text {
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0 var(--padding);
  width: 100%;
}

input[type='checkbox'],
input[type='checkbox']:checked {
  appearance: none;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: var(--light-blue-color);
}

.coffee-delivery-form-input-office {
  width: 3em;
}

.coffee-delivery-form-top-container {
  display: flex;
  gap: var(--gap);
}

.coffee-delivery-form-input-time {
  width: auto;
  cursor: pointer;
}

.coffee-delivery-order-tracking-order-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  font-weight: bold;
  flex-direction: column;
}

.coffee-delivery-order-tracking-order-status-wait {
  color: red;
}

.coffee-delivery-order-tracking-order-status-ready {
  color: green;
}

.coffee-delivery-staff-order,
.feedback-staff-feedback,
.lost-things-item {
  display: flex;
  justify-content: center;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.coffee-delivery-staff-order,
.feedback-staff-feedback,
.lost-things-item {
  flex-wrap: wrap;
}

.coffee-delivery-staff-order-title,
.feedback-staff-feedback-title,
.lost-things-item-title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: bold;
}

.coffee-delivery-staff-order-content,
.feedback-staff-feedback-content,
.lost-things-item-content,
.coffee-delivery-form-select-building,
.useful-materials-button-link,
.feedback-staff-feedback-email-button-link,
.lost-things-item-thing-img {
  width: 100%;
}

.lost-things-item-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.submit-button-disabled {
  background-color: var(--light-blue-color);
  cursor: not-allowed;
}

.submit-button-disabled:hover,
.submit-button-disabled:focus,
.submit-button-disabled:active {
  color: var(--white-color);
  background-color: var(--light-blue-color);
}

.timer,
.stopwatch,
.clock {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

.timer-values,
.stopwatch-values {
  display: flex;
  justify-content: center;
  font-size: 40px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: fit-content;
  padding: var(--padding);
  font-family: monospace;
}

.timer-button,
.stopwatch-button,
.clock-button {
  display: flex;
  height: var(--item-height);
  width: var(--item-height);
}

.timer-buttons,
.stopwatch-buttons,
.clock-buttons {
  display: flex;
  justify-content: center;
  gap: var(--gap);
  margin-bottom: 10px;
}

.set-timer-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
}

.set-timer-time-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: var(--border);
  font-size: var(--font-size);
  width: var(--item-height);
}

.timer-arrow-img {
  cursor: pointer;
}

.timer-arrow-button,
.timer-arrow-button:hover,
.timer-arrow-button:focus,
.timer-arrow-button:active {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.clock-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: fit-content;
  padding: var(--padding);
  font-family: monospace;
}

.clock-values-light {
  background-color: var(--white-color);
  color: var(--black-color);
}

.clock-values-dark {
  background-color: var(--black-color);
  color: var(--white-color);
}

.clock-values-time {
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.clock-values-date {
  display: flex;
  width: fit-content;
  font-size: var(--font-size);
}

.clock-values-time.fullscreen-enabled {
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  font-size: 18vw;
}

.clock-values-time-light.fullscreen-enabled {
  background-color: var(--white-color);
  color: var(--black-color);
}

.clock-values-time-dark.fullscreen-enabled {
  background-color: var(--black-color);
  color: var(--white-color);
}

.feedback-staff-feedback-email-button,
.feedback-staff-feedback-issue-solved-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lost-things-add-button,
.lost-things-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lost-things-form-top-container {
  display: flex;
  gap: var(--gap);
}

.lost-things-form-loaded-thing-img,
.lost-things-found-item-thing-img {
  border: var(--border);
  border-radius: var(--border-radius);
}

.lost-things-form-loaded-thing-img-container,
.lost-things-found-item-thing-img-container {
  display: flex;
}

.lost-things {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.loading-img {
  fill: var(--light-blue-color);
  animation-name: loading_rotation;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading_rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-img-container {
  display: flex;
  justify-content: center;
}

.switch {
  border: var(--border);
  align-items: center;
  border-radius: var(--border-radius);
  display: flex;
  height: calc(var(--item-height) - 1.6px);
  width: calc(var(--item-height) * 2 - 11.6px);
  padding: 0 5px;
  cursor: pointer;
  user-select: none;
}

.switch-on {
  justify-content: flex-end;
  background-color: var(--light-blue-color);
}

.toggle {
  height: calc(100% - 10px);
  aspect-ratio: 1/1;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-off-img {
  fill: var(--grey-color);
}

.toggle-on-img {
  fill: var(--light-blue-color);
}

.details {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  width: auto;
  padding: var(--padding);
  cursor: pointer;
  user-select: none;
}

.details-title {
  font-weight: bold;
  display: flex;
  justify-content: center;
  user-select: none;
}

.details-content {
  display: flex;
}
