html {
  font-family: sans-serif;
  font-size: 20px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
  box-shadow: 0px 0px 30px #cccccc;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
}

.container-title {
  width: 100%;
  text-align: center;
  font-weight: normal;
}

button {
  font-size: 20px;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #005dff;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: #0054e5;
  color: #e5e5e5;
}

.button-link {
  outline: none;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.data-sending-form {
  display: grid;
  grid-template-rows: 50px 150px 50px;
  gap: 5px;
}

.data-sending-form-item,
.coffee-delivery-form-input {
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 20px;
}

.data-sending-form-item {
  width: calc(100% - 21.6px);
}

.data-sending-form-input-message {
  overflow: hidden;
  resize: none;
}

.data-sending-form-input-file {
  display: none;
}

.data-sending-form-input-file-label {
  display: flex;
  cursor: pointer;
  width: auto;
}

.attach-file-img,
.content-copy-img,
.done-img,
.timer-button-img,
.timer-arrow-img,
.stopwatch-button-img,
.fullscreen-img,
.dark-mode-img,
.light-mode-img {
  height: auto;
  width: auto;
}

.content-copy-img,
.done-img,
.timer-button-img,
.stopwatch-button-img,
.fullscreen-img,
.dark-mode-img,
.light-mode-img {
  fill: #ffffff;
}

.data-sending-form-bottom-container {
  display: flex;
  width: 100%;
  gap: 5px;
}

.useful-materials-items {
  display: grid;
  gap: 5px;
}

.useful-materials-item {
  display: flex;
  gap: 5px;
}

.useful-materials-button-link {
  flex: 1;
}

.useful-materials-copy-button {
  display: flex;
  width: 50px;
  margin-left: auto;
}

.coffee-delivery-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.coffee-delivery-form-select {
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
}

.coffee-delivery-form-checkbox-label {
  display: flex;
  align-items: center;
}

input[type='checkbox'],
input[type='checkbox']:checked {
  appearance: none;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #005dff;
}

.coffee-delivery-form-input-office {
  width: 3em;
}

.coffee-delivery-form-select-building {
  width: 100%;
}

.coffee-delivery-form-top-container {
  display: flex;
  gap: 5px;
}

.coffee-delivery-form-input-time {
  width: auto;
  cursor: pointer;
}

.coffee-delivery-order-tracking-order-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  flex-direction: column;
}

.coffee-delivery-order-tracking-order-status-wait {
  color: red;
}

.coffee-delivery-order-tracking-order-status-ready {
  color: green;
}

.coffee-delivery-order-tracking-order-details,
.coffee-delivery-staff-order {
  display: flex;
  justify-content: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
}

.coffee-delivery-staff-order {
  flex-wrap: wrap;
}

.coffee-delivery-staff-order-title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: bold;
}

.coffee-delivery-staff-order-content {
  width: 100%;
}

.submit-button-disabled {
  background-color: #005dff;
  cursor: not-allowed;
}

.submit-button-disabled:hover,
.submit-button-disabled:focus,
.submit-button-disabled:active {
  color: #ffffff;
  background-color: #005dff;
}

.timer,
.stopwatch,
.clock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.timer-values,
.stopwatch-values {
  display: flex;
  justify-content: center;
  font-size: 40px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  font-family: monospace;
}

.timer-button,
.stopwatch-button,
.clock-button {
  display: flex;
  height: 50px;
  width: 50px;
}

.timer-buttons,
.stopwatch-buttons,
.clock-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.set-timer-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.set-timer-time-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #cccccc;
  font-size: 20px;
  width: 50px;
}

.timer-arrow-img {
  cursor: pointer;
}

.timer-arrow-button {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.timer-arrow-button:hover,
.timer-arrow-button:focus,
.timer-arrow-button:active {
  background-color: transparent;
}

.clock-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  font-family: monospace;
}

.clock-values-light {
  background-color: #ffffff;
  color: #000000;
}

.clock-values-dark {
  background-color: #000000;
  color: #ffffff;
}

.clock-values-time {
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.clock-values-date {
  display: flex;
  width: fit-content;
  font-size: 20px;
}

.clock-values-time.fullscreen-enabled {
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 18vw;
}

.clock-values-time-light.fullscreen-enabled {
  background-color: #ffffff;
  color: #000000;
}

.clock-values-time-dark.fullscreen-enabled {
  background-color: #000000;
  color: #ffffff;
}
